body {
    background-color: #659DBD;
}

.prompt {
    position: absolute;
    left: clamp(40px, 5vw, 140px);
    top: clamp(50px, 10vh, 200px);
    display: inline;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: normal;

    color: #FFFFFF;

    display: flex;
    align-items: center;
}

.form {
    width: clamp(10%, 200px, 40%);
}

.query {
    width: 100%;
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    text-align: center;
    line-height: normal;
    
    background-color: inherit;
    color: rgba(255, 255, 255, 0.6);
    border: 0cm;
}

.btn {
    font-family: 'Lusitana';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.result {
    position: absolute;
    left: 60vw;
    top: clamp(50px, 5vh, 200px);
    width: clamp(20%, 600px, 50%);

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: normal;

    color: #FFFFFF;
}