body {
    background-color: #659DBD;
}

.main {
    display: block;
}

.prompt {
    position: relative;
    padding-top: clamp(50px, 10vh, 200px);
    padding-left: clamp(40px, 5vw, 140px);

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: normal;

    color: #FFFFFF;

    display: flex;
    align-items: center;
}

.form {
    width: 200px;
    min-width: 200px;
}

.query {
    width: 100%;
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    text-align: center;
    line-height: normal;
    
    background-color: inherit;
    color: rgba(255, 255, 255, 0.6);
    border: 0cm;
}

.btn {
    font-family: 'Lusitana';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.result {
    position: relative;
    display: flex;
    
    margin-top: 16px;
    padding-left: clamp(40px, 5vw, 140px);
}

.tweet-container {
    position: relative;
    width: 50%;

    display: flex;
    justify-content: center;
}

.tweet-list {
    padding: 20px; 
}

.list-group-item {
    background-color: #659DBD;
    border-width: 4px;
    border-color: #FFFFFF;
}


.score {
    position: relative;
    width: clamp(20%, 600px, 50%);

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: normal;

    color: #FFFFFF;
}